/*General*/
body{
    background-color: var(--clr-main);
}

/*Header*/
.header-mobile{
    display: none;
}
/*Contenedor principal*/
.contenedor{
    display: flex;
    height: 100vh;
    padding: 1rem;
}

/*Main*/
main{
    flex: 3;
    background-color: var(--clr-white);
    border: none;
    border-radius: 1rem;
    padding: 2rem;
}

.titulo-principal{
    color: var(--clr-green);
}

/*Aside*/
.close-menu{
    display: none;
}
.aside-visible{
    text-align: center;
    flex: 1;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.aside-visible, h1{
    color: var(--clr-white);
}

nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    flex-grow: 1;

}

nav, ul, li, button{
    width: 100%;
    border-radius: 1rem;
    border: none;
    padding: 1rem;
    cursor: pointer;

    color: var(--clr-main);
    text-align: left;
}

.boton-menu,
.boton-carrito,
.boton-carrito :active{
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 1rem;
    text-align: left;
    cursor: pointer;
    border-radius: 1rem;
}


/*Aside Footer*/
footer{
    position: fixed;
    bottom: 0rem;
    margin: 1rem;
}